Tests with basic onboarding 

milestones 4/21 
Running early mining till 2 then running miner, refiller, upgrader Strategies

no roads, no base placement
```json
[
	{"label":"lvl1","tick":178},
	{"label":"lvl2","tick":315},
	{"label":"lvl2","tick":1480},// this means that we dropped a level
	{"label":"lvl3","tick":1830},
	{"label":"lvl4","tick":2031},
	{"label":"lvl5","tick":2260},
	{"label":"lvl6","tick":2693},
	{"label":"lvl7","tick":3528},
	{"label":"lvl8","tick":5219}
]
```


